<div id="header">
    <div class="navbar-left">
        <div class="logo nav-menu"><a href="index.html">NotesVault</a></div>
    </div>

    <!-- Navigation Menu -->
    <nav id="header-navigation" class="nav-menu">
        <a href="../pages/overview.html">Overview</a>
        <a href="studentAccount.html">Student Account</a>
        <a href="about.html">About</a>
        <a href="features.html">Features</a>
        <select id="theme-selector">
    <option value="light">🌞 Light</option>
    <option value="dark">🌙 Dark</option>
    <option value="sepia">📜 Sepia</option>
    <option value="contrast">⚡ High Contrast</option>
</select>

    </nav>

    <div id="header-signup-box">
        <p onclick="window.location.href='../pages/signup.html'">Sign Up</p>
    </div>
</div>
