<div id="header" class="sticky-navbar">
  <!-- Left: Logo -->
  <div class="navbar-left">
    <div class="logo">
      <a href="index.html">NotesVault</a>
    </div>
  </div>

  <!-- Right: Navigation + Icon -->
  <div class="navbar-right">
    <nav id="header-navigation" class="nav-menu">
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="features.html">Features</a>
      <a href="contact.html">Contact</a>
    </nav>
    <button id="theme-toggle">🌙</button>

  </div>
</div>



