/* Base Styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.6;
  margin: 3rem 0 0 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
body.fade-in {
  opacity: 1;
}
body.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/* Typography */
h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

a {
  color: var(--primary-500);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--primary-700);
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.btn-primary {
  background-color: var(--primary-500);
  color: var(--white);
  font-size: small;
}

.btn-primary:hover {
  background-color: var(--primary-600);
  color: var(--white) !important; 
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-size: small;
  border: 1px solid var(--border-color);
}

.btn-secondary:hover {
  border-color: var(--gray-300);
  color: inherit;
  transform: translateY(-2px);
}

/* Utility Classes */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: 4rem 0;
}

.text-center {
  text-align: center;
}
