* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right, #064e3b 0%, #0f172a 100%);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

#pge_title {
    text-align: center;
    margin-top: 2vh;
    font-size: 5vh;

}

#note {
    text-align: center;
    margin-top: 1.2vh;
}